*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #FFBF85;
  --primary-200: #FFBF85;
  --primary-300: #FFBF85;
  --primary-400: #FFBF85;
  --primary-500: #FFBF85;
  --primary-600: #FFBF85;
  --primary-700: #FFBF85;
  --primary-800: #FFBF85;
  --primary-900: #FFBF85;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'league spartan', sans-serif;
  --bodyFont: 'league spartan', sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: 'League Spartan', sans-serif; font-weight: 400;
  font-weight: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: var(--textColor);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: 'League Spartan', sans-serif; font-weight: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
   text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration:none; 
  cursor:pointer; 
  color: inherit;
}
a { color: inherit; } 
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.button{
  margin-left: auto;
  background: transparent;
  border: 0;
}
.button-user{
  width: 50px !important;
  margin-bottom:20px;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: transparent;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
  margin-right: auto;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: 'League Spartan', sans-serif; font-weight: 400;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
=============== 
Navbar
===============
*/

.navbar {
  background-color: var(--primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-header img {
  width: 100px;
  margin-top: 20px;
}
.nav-logo {
  display: flex;
  align-items:flex-start;
}

/*.nav-btn {
  padding: 0rem 0.6rem;
  min-width: 50px;
}*/

.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 23.9375rem;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--grey-900);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--primary-500);
}

.contact-link a {
  padding: 0.15rem 1rem;
}

/*
=================
HAMBURGER MENU
=================
*/
/*icon*/
.hamburger {
  z-index: 99;
  margin-right: auto;
  padding: 0rem 0.6rem;
  min-width: 50px;

  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 3px;
  
}

.button-add{
  width: 35px !important;
  font-size: smaller !important;
  margin-left: 20% !important;
}

.hamburger.is-active:before {
  background-color: rgb(0, 0, 0);
  transform: rotate(-45deg) translate(-8px, 6px);
  
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
  background-color: rgb(0, 0, 0);
}

.hamburger.is-active .bar {
  opacity: 0;
  
}

/*ham-bur-tab-menu*/
.hamburger-nav {
  position: fixed;
  top: 0;
  right: 100%;
  width: 82%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #FFF;
  
  transition: 0.4s;
}

.hamburger-nav.is-active {
  position: fixed;
  right: 20%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.hamburger-header {
  
  background-color:var(--primary-100) ;
  height: 7rem;
  padding: 2.3rem 30px 10px 6rem;
  text-align: center;
  font-family: 'League Spartan', sans-serif; font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  color: #FFFFFF;
  
}

/*ham-bur-menu-content*/
.recipes {
  padding-top: 20px ;
}

.recipes .buscar-por {
  margin-left: 2rem;
  font-family: 'League Spartan', sans-serif; font-weight: 400;
  font-size: 25px;
  line-height: 21px;
}
.ham-blue-bar {
  position: absolute;
  left: 5.74%;
  right: 5.74%;
  top: 21.62%;
  bottom: 84.38%;
  border: 3px solid #8EC3FC;
  border-radius: 3px;
}

.ham-options{
  padding-top: 2.3rem;;
}

.accordion .accordion-button{
  font-family: 'League Spartan', sans-serif; font-weight: 400 !important;
  font-size: 20px;
  line-height: 21px;
}

.accordion .accordion-collapse{
  font-family: 'League Spartan', sans-serif; font-weight: 400 !important;
  font-size: 19px;
  line-height: 21px;
}

.hamburger-nav ul {
  list-style-type: disc;
  display: block;
  width: 100%;
  margin-left: 2em;
  
  
  color: #8EC3FC;
  margin-bottom: -5px;
}

.hamburger-nav a {
  display: block;
  margin: 0 30px 8px;
  text-align: left;
  padding: 5px 0px;
  background-color: #ffffff;

  color: #000000;
  text-decoration: none;
}


@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .nav-header img {
    width: 100px;
    margin-top: -2px;
  
  }

  
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    margin-right: 0;
    margin-left: auto;
  }
}
/*
===============
Search
===============
*/
.search{
  position: relative;   
  margin: -5px 0;
  }

  .search input{
   height: 60px;
   text-indent: 25px;
   border: 2px solid #FFBF85;
   border-radius: 60px !important;
   overflow: hidden;
  }

  .search input:focus{
   box-shadow: none;
   border: 2px solid #FFBF85;
  }

  .search .fa-search{
   position: absolute;
   top: 0px;
   right: 10px;
   color: #FFBF85;
   padding: 20px;
   font-size: 20px;
  }


  .dropdown-toggle  {
    background-color: #8EC3FC;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin: -10px 0;
  }
  .dropdown .btn:hover {
    color: white;
    background-color: #8EC3FC;
  }
  .dropdown .btn[aria-expanded="true"] { 
    color: white;
    background-color: #8EC3FC; 
    border-bottom: none, none, none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dropdown-menu-color {
    background-color: #8EC3FC;
  }
  .dropdown-menu-color a {
    background-color: white;
    color: black;
    overflow-wrap: break-word;
    width: auto;
    text-align: center;
    border-radius: 5px;
    margin:3px;
    padding: 10px;
  }
  .dropdown-menu-color.show {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    
    top: -3px !important;
    padding: 3px;
    width: calc(83.3333333% - 22px);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2px;
  }


  .arrow {
    background-color: #8EC3FC;
    height: 50px;
    margin: -10px -0;
    border-radius: 10px;
    margin-left: -15px;
  }  
  .arrow img {
    width: 80%;
    height: 80%;
    object-fit: fill;
    align-items: center;
    
    margin-top: 5px;
    filter: invert();
  }
/*
=============== 
Page
===============
*/

.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}

.ingredients .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  margin-top: -5px;
}
.ingredients .grid-item {
  background: rgba(255, 191, 133, 0.0);
  border: 2px solid rgb(255, 192, 133);
  min-width: 100px;
  min-height: 77px;
  margin: 5px;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
}
.ingredients .grid-item img {
  width: 80%;
  height: 80%;
  object-fit: fill;
  filter: opacity(0.9);
}

.ingredients .grid-container .btn{
  color: black;
}

.ingredients .grid-container .btn:hover{
  background-color: rgba(255, 191, 133, 0.5);
  border-color: #FFBF85;
}



/*
=============== 
Footer
===============
*/

.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
.page-footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer .footer-logo,
.page-footer a {
  color: var(--primary-500);
}
/*
=============== 
Hero
===============
*/

.hero {
  min-height: 25vh;
  position: relative;
  margin-bottom: 2rem;
  /*background: url('../assets/main.jpeg') center/cover no-repeat;*/
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
  overflow: hidden;
  object-fit: cover;
}
.hero-text {
  color: var(--white);
  text-align: center;
}



.carousel {
  position: static !important;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height:360px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/*
=============== 
Recipes 
===============
*/

.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}
.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  /* background: blue; */
}
.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
}
.tags-list a:hover {
  color: var(--primary-500);
}
.recipe {
  display: block;
}
.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}
.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: var(--grey-700);
}
.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-500);
  margin-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
}
@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipes-container {
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe p {
    font-size: 0.85rem;
  }
  .tags-container {
    order: 0;
    /* background: blue; */
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
=============== 
resultSearch 
===============
*/
.results .title{
  font-size: 1.6rem;
}

.results .grid-container{
  margin-top: 10px!important;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 5px;
}
.results .grid-item{

  background-color: #8EC3FC;
  padding: 15px;
  border-radius: 10px;
}

.cardRecipe .card{
  border: none;
  
}

.cardRecipe{
  margin:10px;
  margin-left: 0;
}

.cardBorderBottom {
  border-bottom: 2px solid #000000;
  
}

.cardRecipe div {
  background-color: #FFBF85;
  border-radius: 10px;
}
.cardRecipe img {
  padding:10px;
  vertical-align: center;
}
.cardRecipe .card-title{
  text-align: center;
  font-weight: 600;
  word-wrap: normal;
}

.cardRecipe .recipeDesc {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .cardRecipe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:10px;
   
  }
}